# Node files
**/.next
**/node_modules

# Cache files
.eslintcache
yarn.lock

# Map files
packages/common/dist/lib/models/metaplex/setStoreIndex.d.ts.map
packages/common/dist/lib/models/metaplex/setStoreIndex.js.map
packages/common/dist/tsconfig.tsbuildinfo
packages/common/dist/lib/contexts/meta/meta.d.ts.map
packages/common/dist/lib/contexts/meta/meta.js.map
packages/common/dist/lib/components/ConnectButton/index.js.map
packages/common/dist/lib/contexts/meta/processMetaData.d.ts.map
packages/common/dist/lib/contexts/meta/processMetaData.js.map
packages/common/dist/lib/contexts/meta/processAuctions.d.ts.map
packages/common/dist/lib/contexts/meta/processAuctions.js.map
packages/common/dist/lib/contexts/store.js.map

