# dependencies
**/.pnp
**/.pnp.js

# testing
**/coverage

# build
**/.cache

# temp files
**/out
/tmp

# next.js
**.next
**/node_modules

# production
**/build

# misc
.DS_Store
*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# local env files
**.env*
**.env.local
!/app/.env.local

# vercel
.vercel

# cache files
.eslintcache
yarn.lock

# map files
packages/common/dist/lib/models/metaplex/setStoreIndex.d.ts.map
packages/common/dist/lib/models/metaplex/setStoreIndex.js.map
packages/common/dist/tsconfig.tsbuildinfo
packages/common/dist/lib/contexts/meta/meta.d.ts.map
packages/common/dist/lib/contexts/meta/meta.js.map
packages/common/dist/lib/components/ConnectButton/index.js.map
packages/common/dist/lib/contexts/meta/processMetaData.d.ts.map
packages/common/dist/lib/contexts/meta/processMetaData.js.map
packages/common/dist/lib/contexts/meta/processAuctions.d.ts.map
packages/common/dist/lib/contexts/meta/processAuctions.js.map
packages/common/dist/lib/contexts/store.js.map

